<div class="container">
  <div class="row">
    <div class = "col-xl-2 offset-xl-1 mt-4 mb-4">
      <h4 style = "background-color: #d3d3d3;">マイページ</h4>
    </div>
  </div>
  <div class = "col-xl-4">
    <table class="table">
      <tr>
        <th>登録情報</th>
        <td>
          <%=link_to  customers_information_edit_path, class: "btn btn-success ml-5" do %>
            編集する
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class = "col-xl-8">
    <table class="table">
      <tr>
        <th>氏名</th>
        <td>
          <%= @customer.last_name %>
          <%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>カナ</th>
        <td>
          <%= @customer.last_name_kana %>
          <%= @customer.first_name_kana %>
        </td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div>
  <div class = "col-xl-4 mt-5">
    <table class="table">
      <tr>
        <th>配送先</th>
        <td>
          <%=link_to  addresses_path, class: "btn btn-primary ml-5" do %>
            一覧を見る
          <% end %>
        </td>
      </tr>
      <tr>
        <th>注文履歴</th>
        <td>
          <%=link_to  orders_path, class: "btn btn-primary ml-5" do %>
            一覧を見る
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>