<div class="container">
  <div class="row">
    <div class = "col-xl-10 offset-xl-1">
      <h3 style="display: inline-block;">商品一覧</h3>
      <div class="button-right"
        style="display: inline-block;text-align: right;width: 85%;">
        <%= link_to new_admin_item_path do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
      <table class = "table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <td><%= item.id %></td>
            <td>
              <%= link_to item.name, admin_item_path(item.id) %>
            </td>
            <td><%=item.price %></td>
            <td><%=item.genre_id %></td>
            <td>
              <% if item.is_active == true %>
                販売中
              <% elsif item.is_active == false %>
                販売停止中
              <% end %>
            </td>
          <% end %>
          <%= paginate @items %>
        </tbody>
      </table>
    </div>
  </div>
</div>