<div class="container">
  <div class="row">
    <div class = "col-xl-3 offset-xl-1 mt-4">
      <h4 style = "background-color: #d3d3d3; width: 50%;">商品詳細</h4>
      <div class = "mt-4">
        <%= image_tag @item.image, :size => '200x200' %>
      </div>
    </div>
    <div class = "col-xl-5 offset-xl-1 mt-5">
      <table class = "table">
        <tr>
          <th>商品名</th>
          <td><%=@item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%=@item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%=@item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格(税抜価格)</th>
          <td>¥<%=@item.price %></td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td>
            <% if @item.is_active == true %>
              販売中
            <% elsif @item.is_active == false %>
              販売停止中
            <% end %>
          </td>
        </tr>
      </table>
      <%= link_to edit_admin_item_path(@item.id), class: "btn btn-success mt-3" do %>
        編集する
      <% end %>
    </div>
  </div>
<div>
