<div class="container">
  <div class="row">
    <div class = "col-xl-8 offset-xl-2 mt-4">
     <h4 style = "background-color: #d3d3d3; width: 25%;">注文履歴一覧</h4>
      <table class = "table mt-4">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>購入個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <td><%= link_to order.created_at, admin_order_path(order.id) %></td>
            <td>
              <%= order.customer.last_name %>
              <%= order.customer.first_name %>
            </td>
            <td>order.order_detail.quantity</td>
            <td><%= order.status %></td>
          <% end %>
          <%= paginate @orders %>
        </tbody>
      </table>
    </div>
  </div>
</div>