<div class="container">
  <div class="row">
    <div class = "col-xl-8 offset-xl-2">
    <H3>注文履歴一覧</H3>
      <table class = "table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>購入個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <td><%= link_to order.created_at, admin_order_path(order.id) %></td>
          <% end %>
          <% @customers.each do |customer| %>
            <td><%= customer.last_name %></td>
            <td><%= customer.first_name %></td>
          <% end %>
          <% @order_details.each do |order_detail| %>
            <td><%= order_detail.quantity %></td>
          <% end %>
          <% @orders.each do |order| %>
            <td><%= order.status %></td>
          <% end %>
          <%= paginate @orders %>
          <%= paginate @customers %>
          <%= paginate @order_details %>
        </tbody>
      </table>
    </div>
  </div>
</div>