<div class="container">
  <div class="row">
    <div class = "col-xl-3 offset-xl-1 mt-4">
      <h4 style = "background-color: #d3d3d3 ;">注文情報確認</h4>
    </div>
  </div>
  <%= form_with model: @order, url: orders_path, method: :post do |f| %>
  <div class="row">
    <div class = "col-xl-8 mt-4">
      <table class = "table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%#= image_tag cart_item.item.image, :size => '50x50' %>
              <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
            <% @total = @total + cart_item.subtotal %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class = "col-xl-3 mt-4">
      <table class = "table">
        <tr>
          <th>送料</th>
           <td>800</td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= @total %></td>
        </tr>
        <tr>
          <th>請求合計</th>
          <td><%= @total + 800 %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class = "col-xl-8 mt-4">
      <table class = "table">
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td>
            <%= @order.postal_code %>
            <%= @order.address %>
            <%= @order.name %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class = "text-center">
    <%= f.submit '注文を確定する' ,class: "btn btn-success" %>
  </div>
  <% end %>
</div>