<div class="container">
  <div class="row">
    <div class = "col-xl-2 offset-xl-1 mt-4">
      <h4 style = "background-color: #d3d3d3;">注文履歴一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class = "col-xl-12">
       <table class = "table mt-3">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.created_at %></td>
            <td>
              <%= order_detail.order.postal_code %>
              <%= order.address %>
              <%= order.name %>
            </td>
            <td><%= order.created_at %></td>
            <td><%= order.created_at %></td>
            <td><%= order.created_at %></td>
            <td>
              <%=link_to order_path(order.id), class: "btn btn-success mt-5" do %>
                表示する
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>