<div class="container">
  <div class="row">
    <div class = "col-xl-3 offset-xl-1 mt-4">
      <h4 style = "background-color: #d3d3d3 ;">注文情報入力</h4>
    </div>
  </div>
  <div class="row">
    <div class = "col-xl-7 offset-xl-1">
      <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
        <h5 class = "mt-5">支払方法</h5>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
        <h5 class = "mt-4">お届け先</h5>
        <%= f.radio_button :select_address , 1 %>
        <%= f.label :select_address , "ご自身の住所" %>
        <div>
          〒<%= current_customer.postal_code %>
          <%= current_customer.address %>
          <%= current_customer.last_name %>
          <%= current_customer.first_name %>
        </div>
        <div class = "mt-5">
          <%= f.radio_button :select_address , 2 %>
          <%= f.label :select_address , "登録済住所から選択" %>
        </div>
        <div>
          <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
        </div>
        <div class = "mt-5">
          <%= f.radio_button :select_address , 3 %>
          <%= f.label :select_address , "新しいお届け先" %>
        </div>
        <div class="form-group d-flex align-items-center">
          <div style = "width: 30%;">
            郵便番号(ハイフンなし)
          </div>
          <%= f.text_field :postal_code ,class: "form-control name", style: "width: 30%;" %>
        </div>
        <div class="form-group d-flex align-items-center">
          <div style = "width: 30%;">
            住所
          </div>
          <%= f.text_field :address ,class: "form-control name", style: "width: 66%;" %>
        </div>
        <div class="form-group d-flex align-items-center mt-3">
          <div style = "width: 30%;">
            宛名
          </div>
          <%= f.text_field :name ,class: "form-control name ", style: "width: 30%;" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "確認画面へ進む" , class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>